html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--main-size);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @media (max-width: (1290px)) {
    padding: 0 var(--container-offset-tablet);
  }

  @media (max-width: (975px)) {
    padding: 0 var(--container-offset-tablet-sm);
  }

  @media (max-width: 550px) {
    padding: 0 var(--container-offset-mobile);
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.grid {
  display: grid;
  column-gap: var(--offset);
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: (1290px)) {
    grid-template-columns: repeat(9, 1fr);
  }

  @media (max-width: (975px)) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 550px) {
    column-gap: var(--main-size);
  }
}

.title {
  margin-bottom: 26px;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: var(--desc-color);

  @media (max-width: 550px) {
    font-size: 24px;
  }
}

.input {
  width: 100%;
  padding: 6px 17px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  line-height: 250%;
  color: var(--desc-color);
  background-color: var(--grey-bg);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--grey-color);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--bg-color);
    background-color: var(--bg-active);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--form-hover);
    }
  }

  &:active {
    border-color: var(--form-active);
    background-color: var(--grey-bg);
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 19px 48px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: var(--main-size);
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: var(--light-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--bg-hover);
    background-color: var(--btn-focus);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--btn-focus);
    }
  }

  &:active {
    background-color: var(--bg-hover);
  }

  @media(max-width: 1290px) {
    padding: 19px 48px;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }

  &--second {
    padding: 17px 33px;
    border: 2px solid var(--bg-color);
    font-weight: 600;
    color: var(--bg-color);
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

    @media (max-width: 550px) {
      padding: 17px 33px;
    }

    &:focus-visible {
      border-color: var(--bg-color);
      color: var(--light-color);
      background-color: var(--btn-focus);
    }
  
    @media (any-hover: hover) {
      &:hover {
        color: var(--light-color);
        background-color: var(--bg-color);
      }
    }
  
    &:active {
      border-color: var(--bg-hover);
      color: var(--light-color);
      background-color: var(--bg-hover);
    }
  }
}